 * {
  all: unset;
  border: none;
  min-height: 0;
  margin: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 13px;
  font-weight: 500;
  color: #ebdbb2;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0.3s;
  transition-property: background-color, background-image;
}

button {
  min-height: 24px;
  min-width: 24px;
}

window#waybar {
  background-color: #282828;
}

.modules-right {
  margin-right: 5px;
}

tooltip {
  background-color: transparent;
  border: none;
}

tooltip * {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  border-radius: 8px;
  font-weight: bold;
}

tooltip label {
  background-color: #282828;
  color: #d4be98;
  margin: 0;
  padding: 10px;
  border: solid 2px #d4be98;
}

#scratchpad,
#mode,
#tray,
#language,
#network,
#bluetooth,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock
{
  padding: 0 10px;
}

#scratchpad,
#mode
{
  margin-left: 4px;
}

#mode {
  background-color: #458588;
}

#tray, #tray * {
  background-color: #282828;  
  color: #d4be98;
}

#network.wifi, #network.disconnected {
  padding-right: 14px;
}

#network.disabled, #bluetooth.off, #bluetooth.disabled {
  margin: 0;
  padding: 0;
}

#window {
  /* font-weight: bold; */
}

#custom-spotify {
  /* font-weight: bold; */
}

#workspaces button {
  padding: 0 2px;
  border: none;
  transition-duration: 0.3s;
}

#workspaces button:hover {
  background-color: #928374;
}

#workspaces button.active {
  background-color: #ebdbb2;
}

#workspaces button.active * {
  color: #282828;
}

#workspaces button.urgent {
  background-color: #458588;
}

#workspaces button.urgent * {
  color: #282828;
}
