keybinds clear-defaults=true { 
    normal {
        bind "Ctrl p" { SwitchToMode "pane"; }

        bind "Alt n" { NewPane; }
        bind "Alt c" { CloseFocus; }

        bind "Alt h" "Alt Left" { MoveFocus "Left"; }
        bind "Alt l" "Alt Right" { MoveFocus "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        
        bind "Alt +" "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; } 
        
        bind "Alt u" { 
            NewTab {
                name "Tab"
                cwd "~"
            } 
        }
        bind "Alt p" { CloseTab; }
        bind "Alt i" { GoToPreviousTab; }
        bind "Alt o" { GoToNextTab; }
    }
    pane {
        bind "Ctrl n" { SwitchToMode "Normal"; }
        
        bind "n" { NewPane; }
        bind "c" { CloseFocus; }

        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        
        bind "Alt h" "Alt Left" { MovePane "Left"; }
        bind "Alt l" "Alt Right" { MovePane "Right"; }
        bind "Alt j" "Alt Down" { MovePane "Down"; }
        bind "Alt k" "Alt Up" { MovePane "Up"; }
    }
}

themes {
   default {
        fg "#f8f8f2"
        bg "#282a36"
        black "#1d2021"
        red "#ff4040"
        green "#b8bb26"
        yellow "#fabd2f"
        orange "#ffab7a"
        blue "#83a598"
        magenta "#b16286"
        cyan "#8ec07c"
        white "#d5c4a1"
    }
    catppuccin_mocha {
        fg "#9399b2"
        bg "#585b70"
        red "#f38ba8"
        green "#a6e3a1"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#cba6f7"
        orange "#fab387"
        cyan "#94e2d5"
        black "#1e1e2e"
        white "#cdd6f4"
    }
}

ui {
    pane_frames {
        rounded_corners false
    }
}

// Choose what to do when terminal window with an active zellij session is closed (detach, quit)
on_force_close "quit"

// The folder in which Zellij will look for layouts
// layout_dir "~/.config/zellij/layouts"

// The folder in which Zellij will look for themes
// theme_dir "/path/to/my/theme_dir"

// Default zellij theme
theme "catppuccin-mocha"

// Default zellij layout
default_layout "main"

// Copy selected text
copy_on_select true

